<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logDay" value="${date:format=yyyy-MM-dd}" />
  <variable name="appName" value="" />
  <variable name="logDbLevel" value="Trace" />
  <targets>
    <target xsi:type="Null" name="blackHole" />
    <target name="fileTarget" type="File" fileName="${var:logDay}\${var:appName}\${LogDay}.log" layout="${longdate} ${level} ${callsite} => ${message} ${exception:format=message}"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            archiveFileName="${var:logDay}\${var:appName}\{#######}.a" />
    <target type="Console" name="console" layout="${longdate} ${level} ${callsite} => ${message} ${exception:format=message}" encoding="utf-8" />
    <target xsi:type="Database" name="database"
          connectionString="${var:logDbConnectionString}"
          commandType="StoredProcedure"
          commandText="dbo.AddLog">
      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@app" layout="${var:appName}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=message}" />
    </target>

  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackHole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
