<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
		 <rule name="wwwroot-dists"  stopProcessing="true">
                <match url="env.js" />
                <action type="Rewrite" url="env.js" />
        </rule>
		<rule name="wwwroot-asset"  stopProcessing="true">
                <match url="assets/([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|woff2|woff|map))" />
                <action type="Rewrite" url="assets/{R:1}" />
        </rule>
        <rule name="wwwroot-dist"  stopProcessing="true">
                <match url="dist/([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|woff2|woff|map))" />
                <action type="Rewrite" url="dist/{R:1}" />
        </rule>
        <rule name="default" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>